brotli==1.0.9
ConfigParser==5.1.0
cryptography==36.0.0
Cython==0.29.24
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
imageio==2.13.1
importlib_metadata==4.8.2
keyring==23.4.0
lockfile==0.12.2
lxml==4.6.4
numpy==1.21.4
ordereddict==1.1
Pillow==8.4.0
protobuf==3.19.1
pyOpenSSL==21.0.0
requests==2.26.0
toml==0.10.2
tornado==6.1
xmlrpclib==1.0.1
zipp==3.6.0
